# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a



*.ipa

*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Unreal Engine Folders (슬래시 포함 폴더명 자체 지정)
Binaries/
Plugins/*/Binaries/
Build/
Saved/
Intermediate/
Plugins/*/Intermediate/
DerivedDataCache/

# C++ Generated & Executables
*.exe
*.out
*.app
*.dll
*.lib
*.exp
*.obj
*.pch

# Project Files
*.sln
*.xcodeproj
*.xcworkspace